
/* CSS Document */
img{border:0px;}

h1{font-size:18px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; margin:4px 0px;}
h2{font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal;}
h3{font-size:16px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal;}
p{font-size:13px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal;}

input[type="text"],input[type="number"],textarea, select{width:100%; background:#fff; border:1px solid #ddd; padding:6px;}
textarea{height:80px; resize:none;}
label{margin:4px 10px 4px 0; font-size:12px; line-height:25px; font-weight:400; vertical-align:bottom;}
.wysihtml5-sandbox {
    height: 300px !important;
	padding:20px !important;
}

embed{z-index:99;}

a{outline: none; text-decoration:none; color:#3a3a3a;}
a:hover{color:#000000;}

/* CSS Document */
a, a:hover, a:visited{color:#fff; text-decoration:none; }

body{margin:0px;  font-family:Tahoma; font-size:12px; margin:0px;}
div{box-sizing:border-box;}
hr{margin:3px 0 !important;}
#main_alert{position:absolute; width:50%; bottom:45%; right:17%; text-align:center; display:none;}
.admin-content{margin:0; padding:0; background:url(../img/main_bg.svg) #fbfbfc; background-size:cover; background-attachment:fixed;}
.mark{background-color:transparent !important;}

.container{ padding:0px 0px 0px 0px;}
.main{ width:100%; }
.main-content{width:100%; min-height:200px;}
.separator{width:100%; }

#logout{
	float:right;
	height:78px;
	padding:18px;
	background:#5369E3;
	font-size:11px;
	color:#fff;
	border-left:1px solid #fff;	
}
#logout span{font-size:20px; color:#fff;}
#logout:hover span{color:#ff0000;}

#bt-send{margin-bottom:50px;}

.header{width:100%; height:80px; padding:0px; background:#fff; border-bottom:2px solid #333; border-top:2px solid #333;}
.header-logo{width:16.66%; height:45px; background:url(../img/logo_hillrom.png) center center no-repeat; float:left; background-size:contain; margin:0; margin-top:15px; text-align:left; border-right:1px dotted #ccc;}
.header-info{width:30%; height:73px; float:right; text-align:left; border-left:1px dotted #ccc; border-right:1px dotted #ccc; padding:0px;}
.header-info .user-data{padding:20px 30px; font-size:11px; color:#666;}
.header-info .user-data h1{color:#000; margin-top:0; line-height:14px;}
.site-preview{float:right; padding:22px;}

.nav{ 
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top, #cccccc 0%, #f9f9f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cccccc 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cccccc 0%,#f9f9f9 100%); 
	padding-right:0;
	min-height:500px;
}

.title-nav{background:#eee; color:#000; width:100%; border-bottom:1px solid #ccc; padding:5px 20px; font-weight:bold; text-align:center;}
.btn-nav{background:#5369E3; color:#fff; width:100%; border-bottom:1px solid #ccc; padding:5px 4%; text-align:right; cursor:pointer;}
.btn-nav:hover{background:#000;}
.btn-nav2{background:#666; color:#fff; width:100%; border-bottom:1px solid #ccc; padding:5px 4%; text-align:right; cursor:pointer;}
.btn-nav2:hover{background:#000;}
.home-main{ min-height:200px; text-align:left;  padding:0px;}
.home-tools{padding:0; padding-bottom:8px; margin-bottom:30px; border-bottom:1px dotted #999;}
.home-tools h2{margin:0; font-weight:bold; padding-top:8px; font-size:20px;}
.home-content{margin-top:70px; padding:50px;}
.home-content .nav{background:none; height:auto !important; min-height:auto !important;}
.home-content .tab-content{padding:30px; background:#fff; border:1px solid #ddd; border-top:0; border-radius:0 0 10px 10px; min-height:250px; margin-bottom:10px;}
.home-content .nav-tabs  li:not(.active) a{background:#869da2; color:#fff;}

.listado-h{background:#333; color}
.listado{background:#fff; padding:15px 30px; border-radius:0 0 10px; font-size:12px;}
.listado #list_filter{text-align:right;}
.listado #list_filter input{margin-left:8px;}
.listado .table{margin-top:20px;}
.listado thead{background:#214d57; color:#fff; font-size:12px;}
.listado a{color:#000; font-size:14px;}
.listado td{font-size:12px;}
.listado tbody tr:hover{background:#edf5f4 !important;}
.listado #list_paginate{text-align:right;}

.td-input{position:relative; padding:5px 0;}

.list-titulo{width:85%; float:left; margin-bottom:8px;}
.list-info{width:85%; text-align:left; float:left; margin-right:20px; color:#999; font-size:11px;}
.list-col{width:170px; min-height:14px; float:left; margin-left:10px; color:#999; font-size:11px;}
.list-cabecera{color:#000; font-weight:bold; background:#000; width:98%; min-height:16px; border:1px solid #eaeaea; float:left; padding:7px 0px 5px 2%;}

/*.rc{border-radius:10px; -ms-border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px;}*/
.rcb{border-radius:0px 0px 10px 10px; -ms-border-radius:0px 0px 10px 10px; -moz-border-radius:0px 0px 10px 10px; -webkit-border-radius:0px 0px 10px 10px; -khtml-border-radius:0px 0px 10px 10px}


input{font-size:12px;}
select{font-size:12px;}
.td-input.error-usuario input, .td-input.error_mail input, .td-input.error input,.td-input.error textarea, .td-input.error iframe{border:1px solid #da0707 !important;}

.td-input.error:after{
	content:'Campo Obligatorio';
	width:150px;
	color:#fff;
	font-size:11px;
	background:#222;
	padding:10px 9px;
	border-radius:5px;
	position:absolute;
	right:0px;
	top:16px;
	text-align:center;
	z-index:999999;
}
.td-input.error_mail:after{
	content:'Ingrese un email válido';
	width:150px;
	color:#fff;
	font-size:11px;
	background:#222;
	padding:10px 9px;
	border-radius:5px;
	position:absolute;
	right:0px;
	top:|6px;
	text-align:center;
	z-index:999999;
}
.td-input.error-usuario:after{
	content:'El usuario ya existe';
	width:150px;
	color:#fff;
	font-size:11px;
	background:#222;
	padding:10px 9px;
	border-radius:5px;
	position:absolute;
	right:0px;
	top:|6px;
	text-align:center;
	z-index:999999;
}
.td-input.error:before, .td-input.error_mail:before, .td-input.error-usuario:before{
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 13.0px 7.5px 0;
	border-color: transparent #222 transparent transparent;
	position:absolute;
	right: 145px;
	top: 32px;
	z-index:999998;
}

.destacado_0{color:#ccc; cursor:pointer;}
.destacado_1{color:#31c8d6; cursor:pointer;}
.destacado_0 a{color:#ccc;}
.destacado_1 a{color:#31c8d6;}

#galeria{
	margin:10px 20px;
	width:100%;
}
.areaSelect-txt{
	padding:10px;
	background:#f5f5f5;
	font-size:14px;
	font-weight:bold;
}
.areaselect_button{
	margin-left:40px;
}

.list-img-gal{
	display:inline-block;
	margin:2px;
	position:relative;
	cursor:move;
	background:#fff;
	border:1px solid #ccc;
	text-align:center;
}

.file-del{
	position:absolute;
	top:0;
	right:0;
	width:20px;
	height:20px;
	background:#ccc;;
	cursor:pointer;
}
.file-del:before{
	content: 'X';
	color: #000;
	font-size: 12px;
	width: 22px;
	position: absolute;
	left:0;
	text-align: center;
}
.list-sort{
	cursor:move;
}
.submodulos{width:96%; height:700px; border:0; background:none;}

.tab-pane iframe{border:0; width:100%; min-height:500px; background:#fff;}

.uploadifive-button.multiple{overflow:visible !important;}
.uploadifive-button.multiple:before{
	content: 'Puedes elegir varios archivos';
	position: absolute;
	left: -195px;
	top: 0;
	color: #666;
	font-size: 10px;
	background: #fff;
}

#check-all span {background: #f9b800;padding: 3px 15px;display: inline-block;color: #fff;margin: 10px 0;border-radius: 5px;transition:.6s;}
#check-all span:hover {cursor:pointer;background:#000;transition:.6s;}

.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding-left: 15px;
    border:0px;
}
.thumbnail .caption {
    padding: 0;
    color: #333;
    padding-left: 0px;
    padding-right: 0px;
}
.icon-style
{
    margin-right:15px;
    font-size:18px;
    margin-top:20px;
}
p
{
    margin:3px;
}


.panel-default {margin:0;border:none;box-shadow:none;}
.panel-default legend {font-size: 15px;margin:0;}

.panel-default input:focus, .panel-default select:focus {outline:none;}

.panel-default input[type=date] {width: 100%;border: 2px #000 solid;border-radius: 5px;padding: 5px 15px;height: 33px;}
.panel-default input[type=submit] {width: 100%;border: 2px #000 solid;border-radius: 5px;padding: 5px 15px;background: none;color: #000;text-transform: uppercase;transition:.6s;}
.panel-default input[type=submit]:hover {background:#000;color:#fff;transition:.6s;}
.panel-default select {width: 100%;border: 2px #000 solid;border-radius: 5px;padding: 5px 15px;height:34px;}

.panel-group .panel-heading:hover {cursor:pointer;}

.panel-title {
	color:#fff;
}

.btn-add-card
{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px 10px;
   	border: 2px #000 solid;
    border-radius: 5px !important;
    background: none;
    color: #000 !important;
    text-transform: uppercase;
    transition:.6s;
    font-size:10px;
}

.btn-add-card:hover, .btn-add-card:focus {
	background: #000;
	color: #fff !important;
	transition: .6s;
	border: 2px #000 solid;
	outline:none;
	text-decoration:none;
}

.flex-row {display: flex;margin: 0 auto;flex-direction: row;width: 100%;flex-wrap: wrap;}
.thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 6px solid #D9D9D9;
    border-radius: 15px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding-left: 0px;
    padding-right: 0px;
}

.content-stadisticas {padding:15px 80px;}
.content-stadisticas h5 {color: #000;font-weight: bold;}

.content-stadisticas .content {border-top: 3px #000 solid;padding-top: 8px;display: inline-block;width: 100%;font-size: 15px;margin-top: 8px;text-align:right;}
.content-stadisticas .content strong {font-size:23px}

.form-filter {text-align: right;display: inline-block;width: 100%;margin: 25px 0;}
.form-filter input {padding: 5px 15px;border: none;}
.form-filter input[type="submit"] {background: #5369E3;color: #fff;padding: 5px 30px;border: none;}

.form-filter .btn-reniciar {background: #dbe0df;padding: 8px 15px;color: #000;font-size: 12px;transition:.6s;}
.form-filter .btn-reniciar:hover {text-decoration:none;opacity:.6;transition:.6s;}

@media (max-width: 767px) {
	div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {text-align:left;}
	.listado #list_filter {text-align:left;}
	#list_wrapper .row .col-sm-12 {max-width:100%;overflow-y:auto;}
	.home-tools h2 {font-size:14px;}
	.td-input {max-width: 100%;overflow-x: auto;overflow-y: auto;}
	.nav {min-height:inherit;}
	.panel-default input[type=date] {margin-bottom:10px}
	.panel-default select {margin-bottom:15px}
}